.video-body{
    align-items: center;
    height: 70px;
    border-color: black;
    width: 40px;
    border: 1;
    margin: 0;
    width: 30px;
}
.video-body:hover {
    background-color: rgb(184, 184, 184);
}
.video-top-link {
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}